* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Verdana", sans-serif;
}
table {
	margin: 100px auto;
	border: 2px solid #c1c1c1;
	border-radius: 20px;
	background-color: #e7e7e7;
}
input[type="button"] {
	height: 50px;
	width: 75px;
	background-color: #05B8FF;
	color: #000;
	font-size: 25px;
	border-radius: 20px;
	cursor: pointer	
}
input[type="button"]:hover {
	opacity: 0.7;
}
input[type="button"]:focus {
	outline: none;
}
input[value="="] {
	background-color: #1F48FF;
}
input[type="text"] {
	width: 100%;
	height: 50px;
	font-size: 35px;
	background-color: #868686;
	color: #fff;
	padding-left: 20px;
	border-radius: 20px;
	letter-spacing: 2px;
}
input[type="text"]:focus {
	outline: none;
}
td {
	width: 2em;
	height: 1em;
	border: none;
}
h1 {
	text-align: center;
	font-size: 50px;
	color: #c1c1c1;
	font-weight: 300;
}

